<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New User</title>
  </head>
  <link href="/css/newUser.css" rel="stylesheet" type="text/css">
  <body>
    <h3>Add User</h3>
    ;
    <div id="top">
      <div id="status" class="invisible"><%= error %></div>
      <br />
      <form method="POST" action="/user/" encType="multipart/form-data">
        <label for="name">Name:</label>
        <input
          type="test"
          id="name"
          name="name"
          placeholder="Enter your Name..."
        />
        <br />
        <br />

        <label for="email">Email ID:</label>
        <input
          type="test"
          id="email"
          name="email"
          placeholder="Enter you Email ID..."
        />
        <br />
        <br />

        <label for="phone">Phone number:</label>
        <input
          type="test"
          id="phone"
          name="phone"
          placeholder="Enter your phone no"
        />
        <br />
        <br />

        <input type="file" id="real-file" hidden="hidden" name="resumeC" />
        <button type="button" id="custom-button" name="resumeC">
          Upload Resume
        </button>
        <span id="custom-text"
          >No file chosen, yet (file should be less than 5MB)</span
        >

        <br />
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>

<script>
  const realFileBtn = document.getElementById("real-file");
  const customBtn = document.getElementById("custom-button");
  const customTxt = document.getElementById("custom-text");

  customBtn.addEventListener("click", function () {
    realFileBtn.click();
  });

  realFileBtn.addEventListener("change", function () {
    if (realFileBtn.value) {
      customTxt.innerHTML = realFileBtn.value.match(
        /[\/\\]([\w\d\s\.\-\(\)]+)$/
      )[1];
    } else {
      customTxt.innerHTML = "No file chosen, yet.";
    }
  });
</script>
